*{
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    height: 100vh;
}

.navbar{
    width: 100%;
    display: flex;
    padding: 40px;
    margin-top: 30px;
    align-items: center;
}

.navbar .navlink ul{
    display: flex;
}
.navbar .navlink ul li{
    margin: 0 10px;
    
}
.navbar .navlink ul li a{
   text-decoration: none;
   color: white;
}
.navbar .navlink ul li a:hover{
    color:rgb(201, 64, 64);
}
.navbar .navlink ul li .active{
   color: rgb(201, 64, 64);
   font-weight: 600;
}
.navbar img{
    width: 35%;
}
input[type="search"]{
    border-radius: 10px;
}
main h1{
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
    background-color: rgb(201, 64, 64);
    width: 80%;
    margin: 0 auto;
}
.gallerie{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 1300px;   /*largeur grand ecran*/
    margin: 70px auto 0;
}
.item{
    width: 300px;
    height: 200px;
    margin: 10px;
}
.item img{
    width: 100%;
    height: auto;
}
.item a:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
}

header{
    width:80%;
    height: 200px;
    margin: 0 auto;
}
main{
    height: 100vh;
}
iframe{
    margin-top: 30px;
}
.container{
    margin:20%;   
}
.container h2{
    margin-bottom: 30px;
    color: brown;
}
.container a{
    border: 1px solid brown;
    border-radius: 30px;
    padding:20px;
    color: white;
    text-decoration: none;
    background-color:rgb(247, 65, 65);
}
.container a:hover{
    background-color:rgb(201, 64, 64);
}
.description{
    margin-bottom: 40px;
}

.contact-page{
    width: 80%;
    display: flex;
    margin: 0 auto;
}
.text{
    width: 40%;
    margin-left: 30px;
}
.text h2 span{
    color:red;
    font-weight: 700;
}
.text h2{
    margin-bottom: 30px;
}
.text p{
    font-size: 14px;
    line-height: 20px;
}
.contact-form{
    width: 60%;
    margin-left: 30px;
}
.contact-form h3{
    margin-bottom: 30px;
    margin-left: 20px;
}
input[type="text"]{
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    width: 80%;
    margin-left: 20px;
    border-radius: 10px;
}
input[type="phone"]{
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    width: 80%;
    margin-left: 20px;
    border-radius: 10px;
}

textarea{
    width: 80%;
    margin-left: 20px;
    border-radius: 10px;
}
input[type="submit"]{
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    width: 80%;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
}
input[type="submit"]:hover{
    background-color: rgb(201, 64, 64);
}
